:root {
    --cor-primaria: #435334;
    --cor-secundaria: #9EB384;
    --cor-terciaria: #311827;
    --cor-quaternaria: #051a79;
    --cor-fundo: #FAF1E4;
    --font-primaria: 'Times New Roman', serif;
    --font-secundaria: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;/* comportamento-do-rolagem: suave */
}

body {
    margin: 20px 50px;
    text-align: justify;
    background-color:var(--cor-fundo);
    font-family: var(--font-primaria);
}

.titulo-de-pagina{
    color:var(--cor-primaria);
    line-height: 2;
    font-weight: bold;
    font-size: 22pt;
    font-family: var(--font-secundaria);
}

.titulo-de-artigo {
    color:var(--cor-primaria);
    line-height: 2;
    font-weight: bold;
    font-size: 18pt;
    font-family: var(--font-secundaria);
}

.titulo-de-secao {
    color:var(--cor-primaria);
    line-height: 1.8;
    font-weight: bold;
    font-size: 25pt;
    font-family: var(--font-secundaria);
}


p {
    color: var(--cor-secundaria);
    line-height: 1.2;
}

/*Estilos dos artigos*/
section#artigos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

article {
    border: 8px solid var(--cor-primaria);
    padding: 30px;
    margin: 30px 0;
    border-radius: 20px 0 20px 0;
    width: 25%;
}
.subtitulo-de-artigo {
    color:var(--cor-quaternaria);
    line-height: 1.5;
    font-weight: bold;
    font-size: 14pt;
    font-family: var(--font-secundaria);
    font-style: italic;
    margin-bottom: 10px;
}
       
.paragrafo-de-artigo {
    background-color: var(--cor-primaria);
    padding: 20px;
}

.paragrafo-de-artigo ~ .paragrafo-de-artigo {
    padding-top: 0;
}

.paragrafo-de-artigo:first-of-type {
    
    border-radius: 20px 0 0 0;
}

.paragrafo-de-artigo:last-of-type{
    border-radius: 0 0 20px 0;
}

.paragrafo-de-artigo:only-of-type {
    border-radius: 20px 0 20px 0;
}


/*Estilos do menu principal*/

.menu-principal ul {
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.menu-principal li {
    color: var(--cor-terciaria);
    line-height: 54px;
    display: flex;
    transition: all .35s 
}

.menu-principal a {
    color: var(--cor-fundo);
    font-family: var(--font-secundaria);
    font-size: 120%;
    padding: 0 20px;

}

.menu-principal li:hover {
    background-color: var(--cor-terciaria);
}