

html {
    scroll-behavior: smooth;/* comportamento-do-rolagem: suave */
}

body {
    margin: 20px 50px;
    text-align: justify;
    background-color: #ffffca;
}

.titulo-de-pagina{
    color:#df3e4a;
    line-height: 2;
    font-weight: bold;
    font-size: 22pt;

}

.titulo-de-artigo {
    color:#e75861;
    line-height: 2;
    font-weight: bold;
    font-size: 18pt;
}

.titulo-de-secao {
    color:#e75861;
    line-height: 1.8;
    font-weight: bold;
    font-size: 18pt;
}

.subtitulo-de-artigo {
    color:#e75861;
    line-height: 1.5;
    font-weight: bold;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

p {
    color: slategray;
    line-height: 1.2;
}

.paragrafo-de-artigo {
    background-color:#fadcc6;
    padding: 20px;
}

article {
    border: 8px solid #f0aa95;
    padding: 30px;
    margin: 30px;
    border-radius: 20px 0 20px 0;
}
