

html {
    scroll-behavior: smooth;/* comportamento-do-rolagem: suave */
}

body {
    color:black !important;
}

h1 {
    color:saddlebrown;
    line-height: 2;
    font-weight: bold;
    font-size: 22pt;
    
}